<html>
	<head>
		<title> {{ website_title }} </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="right-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<div id="header-wrapper">
				<div id="header" class="container">
					<!-- Nav -->
						<nav id="nav">
							<ul>
								{% for page in page_titles %}
								<li><a href="#"> {{ page }}</a></li>
								{% endfor %}
							</ul>
						</nav>

				</div>
				
									<!-- Hero -->
									<section id="hero" class="container">
										<header>
											<h2> {{ website_title }} </h2>
										</header>		
									</section>
			
							</div>

			<!-- Main -->
				<div class="wrapper">
					<div class="container" id="main">
						<div class="row gtr-150">
							<div class="col-8 col-12-narrower">

								<!-- Content -->
									<article id="content">
										<header>
											<h2> {{ website_title }} </h2>
										</header>
										<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
										<p> {{ first_paragraph }}</p>

									</article>

							</div>
							<div class="col-4 col-12-narrower">

								<!-- Sidebar -->
									<section id="sidebar">
										<section>
											<header>
												<h3> Twitter </h3>
											</header>
											<p> Twitter Popup here </p>

										</section>


							</div>


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>