<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Profile</title>
</head>

<body>
  {% for student in students %}
  <h1>{{ student }}'s Profile</h1>
  <ul>
      <li>
        Group member's info here
      </li>
  </ul>  
  {% endfor %}
</body>
</html>