<!DOCTYPE HTML>
<html>
<head>
	<title>Kerzendorf Group Homeepage</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="homepage is-preload">
	<div id="page-wrapper">

		<!-- Header -->
			<div id="header-wrapper">
				<div id="header" class="container">
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#">Research Interests</a>
									<ul>
										<li><a href="#">Deepthought</a></li>
									</ul>
								</li>										
								<li><a href="right-sidebar.html">People</a></li>
								<li><a href="no-sidebar.html">Contact</a></li>
							</ul>
						</nav>

				</div>

				<!-- Hero -->
					<section id="hero" class="container">
						<header>
							<h2>Kerzendorf Group Website</h2>
						</header>		
					</section>

			</div>

		<!-- Features 1 -->
			<div class="wrapper">
				<div class="container">

						<section class="col-6 col-12-narrower feature">
							<div class="image-wrapper">
								<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
							</div>
							<header>
								<h2>Hello</h2>
							</header>
							<p>General Group Info</p>

					</section>
					
				</div>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

</body>
</html>