<html>
    <head>
        <title> {{ general.website_title }} </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="assets/css/main.css" />
    </head>
    <body class="right-sidebar is-preload">
        <div id="page-wrapper">
            <!-- Header -->
            <div id="header-wrapper">
                <div id="header" class="container">
                    <!-- Nav -->
                    <nav id="nav">
                        <ul>
                            <li>
                                {% for page in general["navigation_bar"] %}
                            <li>
                                <a href="{{ page_link(page) }}.html">{{ page }}</a>
                                {% if page in general %}
                                <ul>
                                    {% for sub_page in general[page] %}
                                    <li><a href="sub_research/{{ page_link(sub_page) }}.html">{{sub_page}}</a></li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                            {% endfor %}
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Main -->
            <div class="wrapper">
                <div class="container">
                    <div class="image-wrapper">
                        <a href="#" class="image featured"><img src="images/pic02.jpg" /></a>
                    </div>
                    <header>
                        <h2> {{ Homepage.header }} </h2>
                    </header>
                    <p> {{ Homepage.main_paragraph }} </p>
                </div>
            </div>
            <!-- Footer -->
            <div id="footer-wrapper">
                <div id="footer">
                    <section id="footer">
                        <div style="padding-left: 5%;" >
                            <h6 class="icon maps fa-map"> {{ general.address }}</h6>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.dropotron.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>