<link rel="stylesheet" href="assets/css/card.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<html>
	<head>
		<title> Kerzendorf Group Website </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	
	<body class="right-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<div id="header-wrapper">
				<div id="header" class="container">
						<h1> Kerzendorf Group Website </h1>
					<!-- Nav -->
                    <nav id="nav">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Research Interests</a>
                                <ul>
                                    <li><a href="#">Surviving Companions</a></li>
                                    <li><a href="#">TARDIS</a></li>
                                    <li><a href="#">Meta Research</a></li>
                                </ul>
                            </li>										
                            <li><a href="right-sidebar.html">People</a></li>
                            <li><a href="no-sidebar.html">Contact</a></li>
                        </ul>
                    </nav>

				</div>
				
									<!-- Hero -->
									<section id="hero" class="container">
										<header>
											<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>

										</header>		
									</section>
			
							</div>

			<!-- Main -->
				<div class="wrapper">
					<div class="container" id="main">


								<!-- Content -->
									<article id="content">

										<div class="row">
											<div class="column">
											  <div class="card">
												<img class = "circular--square" src="images/earth.jpeg" style="width:100%" />
												<h1>John Doe</h1>
												<p>Professorial Assistant</p>
												<h6>Michigan State University</h6>
												<a href="#"><i class="fa fa-dribbble"></i></a>
												<a href="#"><i class="fa fa-twitter"></i></a>
												<a href="#"><i class="fa fa-linkedin"></i></a>
												<a href="#"><i class="fa fa-facebook"></i></a>
												<p><button></button></p>
											  </div>
											</div>
											<div class="column">
											  <div class="card">
												<div class="image-cropper">
													<img src="images/pic01.jpg" class="profile-pic" />
												  </div>
												<h1>New Person</h1>
												<p>Professorial Assistant</p>
												<h6>Michigan State University</h6>
												<a href="#"><i class="fa fa-dribbble"></i></a>
												<a href="#"><i class="fa fa-twitter"></i></a>
												<a href="#"><i class="fa fa-linkedin"></i></a>
												<a href="#"><i class="fa fa-facebook"></i></a>
												<p><button></button></p>
											  </div>
											</div>

										  </div>

                                          

									</article>

							</div>

							</div>

								<!-- Footer -->
									<div id="footer-wrapper">
										<div id="footer">
												<section id="footer">
													<div>
														<h6 class="icon maps fa-map">567 Wilson Rd, East Lansing, MI 48824</h6>
													</div>
												</section>

										</div>

			</div>


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>









