<link rel="stylesheet" href="templates/assets/css/card.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<html>
	<head>
		<title> {{ website_title }} </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="templates/assets/css/main.css" />
	</head>
	
	<body class="right-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<div id="header-wrapper">
				<div id="header" class="container">
						<h1> {{ website_title }} </h1>
					<!-- Nav -->
						<nav id="nav">
							<ul>
								{% for page in page_titles %}
								<li><a href="#"> {{ page }}</a></li>
								{% endfor %}
							</ul>
						</nav>

				</div>
				
									<!-- Hero -->
									<section id="hero" class="container">
										<header>
											<a href="#" class="image featured"><img src="templates/images/pic02.jpg" alt="" /></a>
										</header>		
									</section>
			
							</div>

			<!-- Main -->
				<div class="wrapper">
					<div class="container" id="main">


								<!-- Content -->
									<article id="content">

										<div class="row">
                      
                      {% for index, person in info.iterrows() %}
                        <div class="column">
                          <div class="card">
                          <img src="templates/images/pic01.jpg" alt="John" style="width:100%">
                          <h1> {{ person["name"] }} </h1>
                          <p> {{ person["role"] }} </p>
                          <h6> {{ person["university"] }} </h6>
                          <a href="#"><i class="fa fa-dribbble"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-linkedin"></i></a>
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <p><button></button></p>
                          </div>
                        </div>
                      {% endfor %}
											

											</div>

										  </div>

                                          

									</article>

							</div>

							</div>

								<!-- Footer -->
									<div id="footer-wrapper">
										<div id="footer">
												<section id="footer">
													<div>
														<h6 class="icon maps fa-map">567 Wilson Rd, East Lansing, MI 48824</h6>
													</div>
												</section>

										</div>

			</div>


		<!-- Scripts -->
			<script src="templates/assets/js/jquery.min.js"></script>
			<script src="templates/assets/js/jquery.dropotron.min.js"></script>
			<script src="templates/assets/js/browser.min.js"></script>
			<script src="templates/assets/js/breakpoints.min.js"></script>
			<script src="templates/assets/js/util.js"></script>
			<script src="templates/assets/js/main.js"></script>

	</body>
</html>